!URXVT SETTINGS
URxvt.scrollBar: false
URxvt.internalBorder: 7
URxvt.iso14755: false
URxvt.cursorBlink: 0
URxvt.cursorUnderline: 0

!FONTS
*font: xft:DejaVuSansMono:size=9
*boldfont: xft:DejaVuSansMono:bold:size=9
*italicfont: xft:DejaVuSansMono-Oblique:size=9
*.letterSpace: -2
!bitmap
!*.font:      -*-terminus-medium-r-*-*-20-*-*-*-*-*-*-*
!*.boldfont:  -*-terminus-bold-*-*-*-20-*-*-*-*-*-*-*
!*.italicfont:-*-terminus-medium-*-*-*-20-*-*-*-*-*-*-*
!*.bolditalicfont:-*-terminus-bold-*-*-*-20-*-*-*-*-*-*-*

!XFT FONTS
Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        92
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

!Foreground & Background
*foreground:	#fffdf0
*background:	#434345

!black
*color0:  #8a8a8a
*color8:  #8a8a8a

!red
*color1:  #d788a0
*color9:  #d7b0bc

!green
*color2:  #88d7a5
*color10: #a8d7b9

!yellow
*color3:  #7eaba7
*color11: #bbe4e0

!blue
*color4:  #8cc8d7
*color12: #bbd1d7

!magenta
*color5:  #c6a6d7
*color13: #d0c3d7

!cyan
*color6: #daa4d7
*color14: #e4d0ea

!white
*color7:  #fffdf0
*color15: #dedacd

! URL handling
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1
